html{
    overflow: hidden;
}

.resume-wrapper {
  align-items: center;
  padding: 2rem;
  font-family: "Press Start 2P", system-ui;
  min-height: 100vh;
}



.resume-content p {
  color: yellow;
  margin: 1rem 0;
  font-size: 1rem;
}

.info{
    color: #000;
}

.download-btn {
  display: inline-block;
  background-color: #ff7f11;
  padding: 1rem 2rem;
  margin-top: 2rem;
  color: #000;
  text-decoration: none;
  border: 4px solid #000;
  box-shadow: 0 5px 0 #000;
  transition: transform 0.1s;
}

.download-btn:hover {
  transform: translateY(2px);
  box-shadow: 0 3px 0 #000;
}

.footer-container{
    margin-top: 80px;
}