#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.level-label {
  background-color: #4a1e37;      /* Dark purple */
  color: white;
  border: 4px solid #ff7f11;      /* Bright orange border */
  padding: 1rem 2rem;
  font-size: 1.5rem;
  box-shadow: 0 5px 0 #000;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll; /* disable fixed on mobile */
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
